.theme-color {
    background-color: black;
}

.text-color {
    color: green;
}

.main {
    text-align: center;
    margin-left: 10px;
    margin-right:10px;
}

.ufo-sign {
    max-width: 50%;
    margin-top: 5px;
    margin-bottom: 10px;

}