//It would be cool to have text converted into barcode. 

    .p1 {
        font-family: 'Turret Road', cursive;
    }

    .site-font {
        font-family: 'Press Start 2P', cursive;
    }

    .p3 {
        font-family: 'Lacquer', sans-serif;
    }

    .p4 {
        font-family: 'VT323', monospace;
    }

    .p5 {
        font-family: 'Cute Font', cursive;
    }

    .p6 {
        font-family: 'Creepster', cursive;
    }
